body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    margin-bottom: 2rem;
}

.radios-wrapper .radio-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

// .radio-item {
//     background-color: #444;
// }

// VERSION 1 - labels wrapped around input
.radios-wrapper .radio-item .radio-item__label-text {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    border: 6px solid #ebebeb !important;
    border-radius: 10px;
    background: #fff;
    color: #444;
    font-weight: 400;
    transition: all 0.1s ease-in;
}

.radios-wrapper .radio-item .radio-item__label-text:hover {
    border: 6px solid #D1368C !important;
    background: #fdeaf5;
    color: #552773;
}

.radios-wrapper .radio-item .radio-item__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: 0;
    width: 100%;
    height: 100%;


}

.radios-wrapper .radio-item .radio-item__input:focus~.radio-item__label-text,
.radios-wrapper .radio-item .radio-item__input:checked+.radio-item__label-text {
    border: 6px solid #D1368C !important;
    background: #fdeaf5;
    color: #552773;
}